<div class="auth-card">
  <h2> New Admin</h2>
  <%= render "shared/form_errors", object: @user %>
  <%= form_with model: @user, url: create_superadmin_admin_path, local: true, class: "auth-form" do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>

    <%= f.submit "Create Admin", class: "btn btn-success" %>
  <% end %>
</div>
