<div class="auth-card">
  <h2>Sign_up Account</h2>
  <%= render "shared/form_errors", object: @user %>
  <%= form_with(model: @user, url: signup_path, local: true, class: "needs-validation auth-form") do |f| %>
    <div class="form-group ">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", required: true, placeholder: "enter your name" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control",  required: true, placeholder: "enter your email"  %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control",  required: true, placeholder: "Min 6 digit password"  %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: "form-control",  required: true, placeholder: "enter same  password" %>
    </div>
    <div class="form-group">
      <%= f.label :role, "Role (optional)" %>
      <%= f.select :role, ["Student", "student"], {}, class: "form-select", required: true %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign Up", class: "btn btn-primary btn-block" %>
    </div>
  <% end %>
  <div class="mb-4">
    <%= link_to "Sign in with Google", "/auth/google_oauth2", class: "btn btn-danger" %>
  </div>
  <p class="small">Already have account? <%= link_to "Login", login_path %></p>
</div>
